In [ ]:
# Load Data

In [1]:
import os
import pandas as pd

In [2]:
os.chdir(r'C:\Users\ASUS\Documents\Datasets')

In [ ]:
# Extract samples
# df=df1.sample(2000)

In [5]:
df = pd.read_csv('store_data.csv')
df.head()

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df.shape

(7500, 20)

# Preprocessing

In [ ]:
record=[]

for i in range(df.shape[0]):
    record.append([str(df.values[i,j]) for j in range(df.shape[1])])

# Model

In [ ]:
# import libraries
# from apyori import apriori           # !pip install apyori

In [ ]:
rule=apriori(record,min_support=0.01,min_confidence=0.2,min_lift=2,max_length=2)

In [ ]:
# rules=list(rule)
# rules

In [ ]:
rules-list(rule)
rules

In [ ]:
for i in rules:
    pair=i[0]
    item=[x for x in pair]
    rule1=item[0]+">>"+item[1]
    print(rule1)
    
    sup=i[1]
    print('Support:',sup)
    
    cnf=i[2][0][2]
    print('Confidence:',cnf)
    
    lift=i[2][0][3]
    print('Lift:',lift)
    
    print('*'*30

pair1=[]
support=[]
confidence=[]
lift1=[]


for i in rules:
    pair=i[0]
    item=[x for x in pair]
    rule1=item[0]+">>"+item[1]
    pair1.append(rule1)
    
    sup=i[1]
    support.append(sup)
    
    cnf=i[2][0][2]
    confidence.append(cnf)
    
    lift=i[2][0][3]
    lift1.append(lift)

In [ ]:
# create dictionary

In [ ]:
# Association_rule=pd.DataFrame(dict1)
# Association_rule